PMC.MBWay.Net/Service References/API.MerchantAlias/CreateMerchantAliasAsyncResultService_schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://alias.services.merchant.channelmanagermsp.sibs/" targetNamespace="http://alias.services.merchant.channelmanagermsp.sibs/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="createMerchantAliasResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="alias" type="tns:alias" />
      <xs:element minOccurs="0" name="operationId" type="xs:string" />
      <xs:element name="statusCode" type="xs:string" />
      <xs:element name="timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="token" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alias">
    <xs:sequence>
      <xs:element name="aliasName" type="xs:string" />
      <xs:element name="aliasTypeCde" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>