PMC.MBWay.Net/wsdl/[WSDL] MerchantAliasWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MerchantAliasWSService"
	targetNamespace="http://alias.services.merchant.channelmanagermsp.sibs/"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:tns="http://alias.services.merchant.channelmanagermsp.sibs/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<xsd:schema version="1.0"
			targetNamespace="http://alias.services.merchant.channelmanagermsp.sibs/"
			xmlns:tns="http://alias.services.merchant.channelmanagermsp.sibs/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:element name="createMerchantAlias" type="tns:createMerchantAlias" />

			<xsd:element name="createMerchantAliasResponse" type="tns:createMerchantAliasResponse" />

			<xsd:element name="removeMerchantAlias" type="tns:removeMerchantAlias" />

			<xsd:element name="removeMerchantAliasResponse" type="tns:removeMerchantAliasResponse" />

			<xsd:complexType name="removeMerchantAlias">
				<xsd:sequence>
					<xsd:element name="arg0" type="tns:removeMerchantAliasRequest"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="removeMerchantAliasRequest">
				<xsd:sequence>
					<xsd:element name="messageType" type="xsd:string"
						minOccurs="1" default="N0002" maxOccurs="1" />
					<xsd:element name="alias" type="tns:alias" minOccurs="1"
						maxOccurs="1" />
					<xsd:element name="merchant" type="tns:merchant"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="messageProperties" type="tns:messageProperties"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="alias">
				<xsd:sequence>
					<xsd:element name="aliasName" type="xsd:string" minOccurs="1"
						maxOccurs="1" />
					<xsd:element name="aliasTypeCde" maxOccurs="1" minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">

								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="merchant">
				<xsd:sequence>
					<xsd:element name="iPAddress" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="posId" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="9"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="messageProperties">
				<xsd:sequence>
					<xsd:element name="channel" minOccurs="1" default="01"
						maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="apiVersion" minOccurs="1" default="1"
						maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="channelTypeCode" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="networkCode" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="serviceType" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="timestamp" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="removeMerchantAliasResponse">
				<xsd:sequence>
					<xsd:element name="return" type="tns:removeMerchantAliasResult"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="removeMerchantAliasResult">
				<xsd:sequence>
					<xsd:element name="alias" type="tns:alias" minOccurs="0" />
					<xsd:element name="statusCode" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">

								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="timestamp" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="createMerchantAlias">
				<xsd:sequence>
					<xsd:element name="arg0" type="tns:createMerchantAliasRequest"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="createMerchantAliasRequest">
				<xsd:sequence>
					<xsd:element name="messageType" minOccurs="1" default="N0001"
						maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">

								<xsd:length value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="alias" type="tns:alias" maxOccurs="1"
						minOccurs="1" />
					<xsd:element name="merchant" type="tns:merchant"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="messageProperties" type="tns:messageProperties"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="newAlias" type="tns:alias" minOccurs="1"
						maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="createMerchantAliasResponse">
				<xsd:sequence>
					<xsd:element name="return" type="tns:createMerchantAliasResult"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="createMerchantAliasResult">
				<xsd:sequence>
					<xsd:element name="alias" type="tns:alias" minOccurs="0" />
					<xsd:element name="operationId" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="statusCode" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">

								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="timestamp" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="token" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>


	</types>
	<message name="removeMerchantAlias">
		<part name="parameters" element="tns:removeMerchantAlias">
		</part>
	</message>
	<message name="removeMerchantAliasResponse">
		<part name="parameters" element="tns:removeMerchantAliasResponse">
		</part>
	</message>
	<message name="createMerchantAlias">
		<part name="parameters" element="tns:createMerchantAlias">
		</part>
	</message>
	<message name="createMerchantAliasResponse">
		<part name="parameters" element="tns:createMerchantAliasResponse">
		</part>
	</message>
	<portType name="MerchantAliasWSCreate">
		<operation name="createMerchantAlias">
			<input message="tns:createMerchantAlias"
				wsaw:Action="http://alias.services.merchant.channelmanagermsp.sibs/MerchantAliasWS/createMerchantAliasRequest"
				wsam:Action="http://alias.services.merchant.channelmanagermsp.sibs/MerchantAliasWS/createMerchantAliasRequest">
			</input>
			<output message="tns:createMerchantAliasResponse"
				wsam:Action="http://alias.services.merchant.channelmanagermsp.sibs/MerchantAliasWS/createMerchantAliasResponse">
			</output>
		</operation>
	</portType>
	<portType name="MerchantAliasWSRemove">
		<operation name="removeMerchantAlias">
			<input message="tns:removeMerchantAlias"
				wsaw:Action="http://alias.services.merchant.channelmanagermsp.sibs/MerchantAliasWS/removeMerchantAliasRequest"
				wsam:Action="http://alias.services.merchant.channelmanagermsp.sibs/MerchantAliasWS/removeMerchantAliasRequest">
			</input>
			<output message="tns:removeMerchantAliasResponse"
				wsam:Action="http://alias.services.merchant.channelmanagermsp.sibs/MerchantAliasWS/removeMerchantAliasResponse">
			</output>
		</operation>
	</portType>




	<binding name="MerchantAliasWSPortBindingCreate" type="tns:MerchantAliasWSCreate">

		<wsaw:UsingAddressing required="false" />

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="createMerchantAlias">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>


	<binding name="MerchantAliasWSPortBindingRemove" type="tns:MerchantAliasWSRemove">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="removeMerchantAlias">
			<soap:operation
				soapAction="http://alias.services.merchant.channelmanagermsp.sibs/removeMerchantAlias" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>



	<service name="MerchantAliasWSService">
		<port name="MerchantAliasWSPortCreate" binding="tns:MerchantAliasWSPortBindingCreate">
			<soap:address location="http://127.0.0.1:14000/Merchant/createMerchantAliasWS" />
		</port>
		<port name="MerchantAliasWSPortRemove" binding="tns:MerchantAliasWSPortBindingRemove">
			<soap:address location="http://127.0.0.1:14000/Merchant/removeMerchantAliasWS" />
		</port>
	</service>




	<wsp:Policy wsu:Id="MerchantAliasWSPortBinding_WSAM_Addressing_Policy">
		<wsam:Addressing wsp:Optional="true">
			<wsp:Policy />
		</wsam:Addressing>
	</wsp:Policy>
</definitions>
