PMC.MBWay.Net/wsdl/CreateMerchantAliasAsyncResultService_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0" targetNamespace="http://alias.services.merchant.channelmanagermsp.sibs/" xmlns:tns="http://alias.services.merchant.channelmanagermsp.sibs/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="createMerchantAliasResult">
    <xs:sequence>
      <xs:element name="alias" type="tns:alias" minOccurs="0"/>
      <xs:element name="operationId" type="xs:string" minOccurs="0"/>
      <xs:element name="statusCode" type="xs:string"/>
      <xs:element name="timestamp" type="xs:dateTime"/>
      <xs:element name="token" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="alias">
    <xs:sequence>
      <xs:element name="aliasName" type="xs:string"/>
      <xs:element name="aliasTypeCde" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

