PMC.MBWay.Net/wsdl/CreateMerchantAliasAsyncResultService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0" targetNamespace="http://webservices.sibsmerchant.com/" xmlns:tns="http://webservices.sibsmerchant.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://alias.services.merchant.channelmanagermsp.sibs/">

  <xs:import namespace="http://alias.services.merchant.channelmanagermsp.sibs/" schemaLocation="CreateMerchantAliasAsyncResultService_schema2.xsd"/>

  <xs:element name="createAliasResult" type="tns:createAliasResult"/>

  <xs:element name="createAliasResultResponse" type="tns:createAliasResultResponse"/>

  <xs:complexType name="createAliasResult">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:createMerchantAliasResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createAliasResultResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

